{% extends "customer/base.html" %}
{% load static %}
{% block content %}
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<br><br><br><br><br><br><br>
<section class="h-100 h-custom">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
            <h3><b>Product Cart</b></h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="h5"><b>Your Cart</b></th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
                {% for i in ct %}
                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center">
                        <img style="max-width: 200px;max-height:140px;" src="/media/{{ i.product.image }}">
                    </div>
                  </th>
                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;">{{i.product.name}}</p>
                  </td>
                  <td class="align-middle">
                    <div class="d-flex flex-row">
                        <p class="mb-0" style="font-weight: 500;">{{i.quantity}}</p>							
                    </div>
                  </td>
                  <td class="align-middle">
                    <p class="mb-0" style="font-weight: 500;">₹
                        {{i.total}}</p>
                  </td>
                  <td class="align-middle">
                    <a href="RemovecartView?id={{i.id}}">
                    <button type="button" class="btn btn-primary btn-block btn-lg">Remove</button>
                </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
  

            <div class="card-body p-4">
              <div class="row">
                <div class="col-lg-4 col-xl-3">
  
                  <hr class="my-4">
  
                  <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                    <p class="mb-2">Total</p>
                    <p class="mb-2">₹
                        {{asz}}</p>
                  </div>
                  
                  <a href="checkout"><button type="button" class="btn btn-primary btn-block btn-lg">
                    <div class="d-flex justify-content-between">
                         <span>Checkout</span>
                      <span>₹
                        {{asz}}</span>
                    </div>
                  </button></a>
  
                </div>
              </div>
  
            </div>
  
        </div>
      </div>
    </div>
  </section>

{% endblock %}