{% extends "admin/base.html" %}
{% load static %}
{% block content %}
  
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<div class="untree_co-hero inner-page overlay">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12">
          <div class="row justify-content-center ">
            <div class="col-lg-6 text-center ">
              <h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">Customers List</h1>

            </div>
          </div>
        </div>
      </div> <!-- /.row -->
    </div> <!-- /.container -->

  </div> <!-- /.untree_co-hero -->
<br><br>
  <div class="container add-emp">		
    {% comment %} <center><h1 style="color:black;"><strong>User Details</strong></h1><br></center> {% endcomment %}
    <table class="table table-bordered table-hover">
            <tr>			
                <th class="p-3 mb-2 bg-primary text-light">User Name </th>
                <th class="p-3 mb-2 bg-primary text-light">Email</th>
                <th class="p-3 mb-2 bg-primary text-light">Phone Number</th>
                <th class="p-3 mb-2 bg-primary text-light">Address</th>
                <th class="p-3 mb-2 bg-primary text-light">Block/Unblock</th>
                
            </tr> 
            
            {% for i in cust %}
            <tr>
                    <td>{{i.user.first_name}}</td>
                    <td>{{i.user.email}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.address}}</td> 
                    {% if i.user.is_active == '0' %}
                    <td><a href="UnblockCustomer?id={{ i.user_id}}" class=" btn btn-danger">Unblock</a></td>
                    {% else %}
                    <td><a href="BlockCustomer?id={{ i.user_id}}" class=" btn btn-success">Block</a></td>
                    {% endif %}

            </tr>  
            {% endfor %}

    </table>
</div>
{% endblock %}