{% extends "base.html" %}
{% load static %}
{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

  <div class="untree_co-hero overlay">


    <div class="container">
      <div class="row align-items-center justify-content-center">

        <div class="col-12">

          <div class="row justify-content-center ">

            <div class="col-lg-6 text-center ">

              <h1 class="mb-4 heading text-white" data-aos="fade-up" data-aos-delay="100">Food Delivery System</h1>

            </div>


          </div>

        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->

  </div> <!-- /.untree_co-hero -->


 
 

  {% endblock %}